<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List PHP</title>

    <!-- Style -->
    <link rel="stylesheet" href="style.css">
    <!-- /Style -->

</head>

<body>
    <div id="app">
        <div class="container">
            <ul>
                <li v-for="(todo, index) in todos">
                    <div>
                        <span @click="toggleTodo(index)" :class="{ completed: todo.done }">{{ todo.text }}</span>
                        <span>{{todoStatus(todo)}}</span>
                    </div>
                </li>
                <li>
                    <form @submit.prevent="addTodo" class="new-todo">
                        <div>
                            <label for="todo">New Todo</label>
                            <input type="text" id="todo" v-model="newTodo">
                            <button type="submit">Add</button>
                        </div>

                    </form>
                </li>
            </ul>
        </div>

    </div>

    <!-- Script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
    <!-- /Script -->

</body>

</html>