* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 70%;
    max-width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

li div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.completed {
    text-decoration: line-through;
}