* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 70%;
    max-width: 62.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
    user-select: none;
}

i {
    color: red;
}

li div span:nth-child(2) {
    margin-left: auto;
    margin-right: .625rem;
}

li div {
    padding: .625rem;
    display: flex;
    justify-content: space-between;
    width: 25rem;
}

.completed {
    text-decoration: line-through;
}